@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply overflow-x-hidden;
  }
}

@layer components {
  .socialIcon {
    @apply h-8 w-8 cursor-pointer rounded-xl p-2 transition duration-300 ease-in-out hover:bg-black/30 md:h-10 md:w-10;
  }

  @keyframes slideRight {
    0% {
      transform: translateX(-200px);
      opacity: 0;
      z-index: -10;
    }
    100% {
      transform: translateX(0px);
      opacity: 100;
      z-index: 0;
    }
  }

  .animate-slide-right {
    animation: slideRight 1s ease-in-out 1;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(200px);
      opacity: 0;
      z-index: -10;
    }
    100% {
      transform: translateY(0px);
      opacity: 100;
      z-index: 0;
    }
  }

  .animate-slide-up {
    animation: slideUp 1s ease-in-out 1;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .animate-marquee {
    animation: marquee 3s linear infinite;
  }

  @keyframes logo {
    0% {
      opacity: 0;
    }
    25% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-logo {
    animation: logo 3s linear infinite;
  }
}
